<template>
  <div class="home">
    <MergeImages />
  </div>
</template>

<script>
// @ is an alias to /src
import MergeImages from "@/components/MergeImages.vue";

export default {
  name: "Home",
  components: {
    MergeImages
  }
};
</script>
