<template>
  <div class="merge-images">
    <p>We're here!</p>
    <img :src="finalImage" v-if="finalImage !== null" />
  </div>
</template>

<script>
import mergeImages from "merge-images";

export default {
  name: "MergeImages",
  data() {
    return {
      background:
        "https://188-010-bhvisualizerpoc-dev.azurewebsites.net/images/renderings/kitchen/kitchen_test-base3.png",
      cabinets:
        "https://188-010-bhvisualizerpoc-dev.azurewebsites.net/images/renderings/kitchen/kitchen_test-cabinets3.png",
      floors:
        "https://188-010-bhvisualizerpoc-dev.azurewebsites.net/images/renderings/kitchen/kitchen_test-floor2.png",
      finalImage: null,
    };
  },
  mounted() {
    this.buildFinalImage();
  },
  methods: {
    async buildFinalImage() {
      mergeImages([this.background, this.cabinets, this.floors], {
        crossOrigin: "Anonymous",
      })
        .then((b64) => {
          console.info("Done", b64);
          this.finalImage = b64;
        })
        .catch((error) => {
          console.info("Broke:", error);
        });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
